/* h1{
    color: purple;
} */

/* p{
    font-size:20px;
    color:darkgreen;
} */

/* nav{
    background:black;
    padding:10px;
}
nav a{
    color:white;
    text-decoration:none;
    margin-right:15px;
} *//

body{
    font-family:Arial;
    background:#f2f2f2;
}
h1{
    color:navy;
}
p{
    color:gray;
}

